[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
astropy = "*"
requests = "*"
matplotlib = "*"
python-dateutil = "*"
toml = "*"
googlemaps = "*"

[dev-packages]
ipython = "*"
jupyter = "*"
pylint = "*"
twine = "*"

[requires]
python_version = "3.6"

[scripts]
ipython = "ipython"
jupyter = "jupyter notebook ${HOME}"
sdist = "python setup.py sdist"
configure = "etc/configure"
